/*Design Lab Landing Page*/

/* The body has an image that spans the entire size of the page.
   Everything is centered and in white. */
/*
body{
    background: #333 url("/static/background.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}*/

html{
    background: url("/static/background.jpg") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

}

body {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.9);
}
.panel-transparent {
    background: none;
    text-align: center;
    padding-top: 30px;
    }

.site-wrapper {

    display: table;
    width: 100%;
    height: 100%;
}


.home-link{
    padding-top: 60px;
    width:50%;
    text-align: center;   

}

h1.editorial{
    color: #525252;
    font-size: 36px;
    line-height: 1;
    display: block;
    letter-spacing: 0;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}

h2.editorial{
    color: #525252;
     font-size: 1em;  
     display: block;
     text-transform: uppercase;
}

.btn-editorial {
    color: #525252;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 43px;
    height: 44px;
    padding: 0 30px;
    /*background: transparent;*/
    background: #fff; /* fallback color for old browsers */
    background: rgba(255, 255, 255, 0.3);
    border: 1.5px solid currentColor;
    text-transform: uppercase;

}

/* The footer always appears at the bottom of the browser window. */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;  /* required because fixed position */
}

#copy{
    text-align: right;
}