html {
  position: relative;
  min-height: 100%;
}
body{
	margin-bottom:60px;
}
.header{
	width: 100%;
  	/* Set the fixed height of the header here */
  	border-top: 2px solid #F9B597;
  	border-bottom: 6px solid #525252;
  	height: 80px;
  	background-color: #f5f5f5;
  	padding-bottom: 20px;
}

.links{
	color:#525252;
}
#main-tabs{
	float:left;
	width:100%;

}
#main-tabs li{
	list-style: none;
	float:left;
	display: block;
    height: 42px;
    width: 280px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none!important;
    margin: 0px;
    margin-left: 0;
    color: #757575;
    padding:10px 10px 10px 10px;
    background: transparent;
    border-right:2px solid #F9B597;
}
#main-tabs li.last{
	border-right:0;
}

#main-tabs li.selected{
	height: 43px;
    padding: 10px 10px 10px 10px;
    color: #525252;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;

}

.doll{
	position:absolute;
	top: 200px;
	left:100px;
}
.design{
	padding-top: 25px;
	-webkit-align-self:center;
	align-self:center;
}
.section{
	text-align: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.label{
	color: #474747;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.btn-editorial {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #474747;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 43px;
    height: 44px;
    padding: 0 30px;
    background: transparent;
    border: 2.5px solid currentColor;

}

.btn-modal {
    color: #5C5C5C;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1.5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 28px;
    height: 30px;
    padding: 0 10px;
    background: transparent;
    border: 1px solid currentColor;
    text-transform: uppercase;

}
.nope {
	border: 2px solid #FF5050;
}

#slider{
	position: left;
	margin:7px auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#slider .bar{
	-webkit-appearance: slider-vertical; 
	writing-mode: bt-lr;
	background:rgb(249, 181, 151);
}



