.builder{
    width:70%;
    opacity: 1;
    background: rgba(255, 255, 255, 0.85);
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 80px;
    margin-top: 10px;
}
.build{
    padding-top: 30px;
}
.page-header{
    padding-top: 0;
    margin:0px 0px 0px 0px;
}
html {
  position: relative;
  min-height: 100%;
}
body{
    width:100%;
    font-family: 'Arapey', serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;

    background: url("/static/images/hide&cheek_background.svg") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}
h1{
    padding-left: 5%;
    /*float:left;*/
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    letter-spacing: 2.5px;
}

#georgia{
    color: #000000;
}

#georgia:hover{
    color:#00FFCC;
    font-style: bold;
}
a:hover{
    color:black;
    cursor: pointer;
    font-weight:600;
    text-decoration: none;
}
.navbar-brand{
    position: center;
}
.header{
	width: 100%;
  	/* Set the fixed height of the header here */
  	border-top: 5px solid #F9B597;
  	height: 80px;
  	background-color: #FFFFFF;
  	padding-bottom: 20px;
}
.footer{
    width: 100%;
    text-align: center;
    height:80px;
    padding-bottom: 0;
}
.navlinks{
    margin-left: 20px;
    margin-right: 30px;
}
.links{
    margin-right: 10px;
	color:#525252;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2.5px;
}
.links:hover{
    color: #F9B597;
}
.tabs{
    text-align: center;
}

#main-tabs{
	float:left;
	width:100%;
}

#main-tabs li{
    font-size: 17px;
    font-family: 'Abel', sans-serif;
	list-style: none;
	float:left;
	display: block;
    height: 45px;
    width: 350px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none!important;
    margin: 0px;
    color: #000000;
    padding:10px 10px 10px 10px;
    background: transparent;
    border-right: 3px solid #F9B597;
}
#main-tabs li.last{
	border-right:0;
}

#main-tabs li.selected{
	height: 43px;
    padding: 10px 10px 10px 10px;
    /*color: #525252;*/
    color: #000000;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;

}

.doll{
    text-align: center;
	padding-top: 25px;
	-webkit-align-self:center;
	align-self:center;
    padding-bottom: 20px
}
#design-div{
    text-align:center;
}

.design{
	padding-top: 10px;
    padding-bottom: 25px;
	-webkit-align-self:center;
	align-self:center;
}
.section{
    font-family: 'Abel', sans-serif;
	/*text-align: center;*/
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    /*text-transform: uppercase;*/
}
.label{
	color: #000000;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.modal-title{ 
    font-family: 'Abel', sans-serif;
	color: #000000;
	text-align: center;
    font-size: 15px;
    font-weight: 550;
    font-style: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.btn-editorial {
    width:100%;
    min-width: 200px ;
    position: center;

    font-family: 'Abel', sans-serif;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #000000;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 2px;
    text-transform: uppercase;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 46px;
    height: 48px;
    padding: 0 30px 0 30px;
    background: transparent;
    border: 2px solid currentColor;
    transition: all 0.3s ease 0s;
}

.btn-editorial:hover{
    background-color: #FCDACB;
    font-weight: 650;
}

.btn-editorial.ready{
    background-color: #F9B597;
    font-weight: 650;
}

.btn-modal {
    position: center;
    font-family: 'Abel', sans-serif;
    min-width: 50%;
    max-width:75%;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 30px;
    height: 33px;
    background: transparent;
    border: 1.5px solid currentColor;
    text-transform: uppercase;
    padding: 0 5px;
    transition: all 0.3s ease 0s;
}

.btn-modal:hover{
    background-color: #FCDACB;
    font-weight: 500;
}

.submit{
    text-align: center;
    padding-bottom: 10px;
}
.back{
    text-align: center;
}

.nope {
	border: 2px solid #FF5050;
}
h4{
    font-family: 'Arapey', serif;
    /*font-weight: bold;*/
    letter-spacing: 2px;
}
label{
    font-size: 16px;
}
.btn{
    font-size: 16px;

}
.btn.focus, .btn:focus, .btn::hover{
    color: #F9B597;

}
#low{
      display: block;
    float:left;
}
#high{
    display: block;
    float:right;
}

/*css for waist slider*/

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 55%; 
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;/* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #999;
  height: 20px;
  width: 20px;
  border-radius: 0 50% 50% 50%;
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  background: #FCDACB;
  cursor: pointer;
  margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 1px solid #999;
  height: 20px;
  width: 20px;
  border-radius: 0 50% 50% 50%;
  -webkit-transform: rotate(45deg);
  background: #FCDACB;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 1px solid #999;
  height: 20px;
  width: 20px;
  border-radius: 0 50% 50% 50%;
  -webkit-transform: rotate(45deg);
  background: #FCDACB;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #AAA;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #AAA;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #AAA;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
/*input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}*/


.font{
    text-align: right;
}
.size{
    font-family: 'Arapey', serif;
}
.sizes{
    margin:5px;
    padding:5px;
}
.social{
   vertical-align: top;
   padding-bottom: 0;
}
#fabric-details{ 
    opacity: 1;
    background: rgba(255, 255, 255, 0.7);

}
#size-suggestions{
    position: center;
    margin: 7px;
}

.form-error{
    color:#FF5050;
    font-style: italic;
    font-weight: 300px;   
}

#description{
    display:inline-block;
    font-size: 16px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.7);
    margin:7px;
    padding: 6px 6px 6px 6px;
}
#fabric-image{
    width:100%;
}
#flash{
    text-align: center;
    postion: center;
}
#suggestion-div{
    padding-top: 8px;
    padding-left: 10px;
}
#lookbook-banner{
    text-align:center;
    position:center;
    height:300px;
    background: url("/static/images/hide&cheek_lookbook.png") no-repeat center;
            
}
.btn.pretty.active{
    background-color: #F9B597;
}
.thread{
    font-weight: 600px;
    font-size: 130%;
}
.summary{
    letter-spacing: 1px;
}
#added{
    text-align: center;

}
