body{
	padding-bottom:70px;
}

.doll{
	position:absolute;
	top: 200px;
	left:500px;
}

#selected{
	z-index:20;
}

.cut1{
	-webkit-clip-path: inset(0px 0px 0px 0px);
	clip-path: inset(0px 0px 0px 0px);
}

.cut2{
	-webkit-clip-path: inset(100px 100px 100px 100px);
	clip-path: inset(100px 100px 100px 100px);
}

.cut3{
	-webkit-clip-path: inset(200px 200px 200px 200px);
	clip-path: inset(200px 200px 200px 200px);
}

#slider{
	
	position: left;
	margin:100px auto;


	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
#slider .bar{
	background:rgb(249, 181, 151);
}



