<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/masking.css">
</head>

<body>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            
            <a class="navbar-brand" href="http://www.hide-cheek.com/"><img src="./static/transparent-logo.png">
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li>
                    <a href="/newDesign"> Create a new Design</a></li>
                <li>
                    <a href="/myDesignLab"> MyDesigns</a></li>
                <li>
                  <a href="/Lookbook"> Lookbook</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="container">

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

</div>
<div class="navbar navbar-inverse navbar-bottom">
    <div class="container">
<div class="nav navbar-nav navbar-left">
          <span class="navbar-text navbar-left"> &copy 2015 hide &amp cheek  |  Built by Georgia  |  All Rights Reserved</span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="https://instagram.com/hideandcheek/"><img src="./static/instagram.png"></a></li>
                <li>
                    <a href="https://twitter.com/hideandcheek"><img src="./static/twitter.png"></a>
                  </li>
            </ul>
        </div>

    </div>
</div>  
  

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.js"></script>

</body>
</html>