<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/masking.css">
</head>

<body>

<div class="header">
    <!-- <div class="container"> -->

       <!--  <div class="navbar-header"> -->
            
            <a class="navbar-brand" href="http://www.hide-cheek.com/"><img src="./static/transparent-logo.png">
            </a>
        

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                    <a class="links" href="/newDesign"> Create a new Design</a></li>
                <li>
                    <a class="links" href="/myDesignLab"> MyDesigns</a></li>
                <li>
                  <a class="links" href="/Lookbook"> Lookbook</a></li>
            </ul>
        </div>

</div>

<div class="container">

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

    <div class="tabs">

          <br>
          <ul id="main-tabs">
            <li id="styles-tab">STEP 1: STYLES</li>
            <li id="fabrics-tab">STEP 2: FABRICS</li>
            <li class="last" id="colors-tab">STEP 3: COLORS &amp TAGS </li>
          </ul>

    </div>
  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

</div>
<footer class="footer">
  <div class="container">
    <span class="navbar-text navbar-left"> &copy 2015 hide &amp cheek  |  Built by Georgia  |  All Rights Reserved</span>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://instagram.com/hideandcheek/"><img src="./static/instagram.png"></a></li>
      <li><a href="https://twitter.com/hideandcheek"><img src="./static/twitter.png"></a></li>
    </ul>
  </div>
</footer>  
  


</body>
</html>