<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/masking.css">
    <link href='http://fonts.googleapis.com/css?family=Arapey:400,400italic|Abel' rel='stylesheet' type='text/css'>
</head>

<body onunload="">

<div class="header">
            
            <a class="navbar-brand" href="http://www.hide-cheek.com/"><img style="width:60%" src="./static/images/hidecheek_logo.png">
            </a>
        

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li>
                  <a class="links" href="/Lookbook"> check out our lookbook</a></li>
            </ul>
        </div>

</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12 tabs">

        <br>
        <ul id="main-tabs">
          <li id="styles-tab">STEP 1: STYLE, SIZE &amp WAIST</li>
          <li id="fabrics-tab">STEP 2: FABRIC</li>
          <li class="last" id="colors-tab">STEP 3: COLOR &amp PERSONALIZATION</li>
        </ul>

    </div>
  </div>
</div>
  <div class="container builder">

  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

  </div>
<footer class="footer">
  <div class="container">
    <span class="navbar-text navbar-left"> &copy 2015 hide &amp cheek  |  Built by Georgia  |  All Rights Reserved</span>

    <ul class="nav navbar-nav navbar-right">
      <li class="social"><a href="https://www.facebook.com/hideandcheek"><img src="./static/social_01.png"></a></li>
      <li class="social"><a href="https://instagram.com/hideandcheek/"><img src="./static/social_04.png"></a></li>
      <li class="social"><a href="https://twitter.com/hideandcheek"><img src="./static/social_02.png"></a></li>
    </ul>
  </div>
</footer>  
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66562241-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>