<!DOCTYPE html> 
<html>

<head>
	<link rel="stylesheet" href="/static/landing_page.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<title>design lab|hide&cheek</title>
</head>
<body>

<div class="site-wrapper">
	<div class="site_wrapper-inner">
		<div class="home-link">
			<img src="./static/transparent-logo.png">

			<h1 class="editorial"> Design Lab</h1>
			<h2 class="editorial"> Create your own custom yoga pants </h2>

			<a href="/step1" class="btn-editorial"> GET STARTED </a>
		</div>
	</div>
</div>	

<footer>
	<span class="copy"> &copy 2015 hide &amp cheek  |  Built by Georgia  |  All Rights Reserved</span>

</footer>
</body>
</html>
