<!DOCTYPE html> 
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<link rel="shortcut icon" href="static/images/hnc_icon.jpg">
	<link rel="stylesheet" href="/static/landing_page.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Arapey:400,400italic|Abel' rel='stylesheet' type='text/css'>
	<title> Design Lab | hide&cheek</title>
</head>
<body>

<!-- <div class="site-wrapper"> -->


		<div class="panel-transparent">
			<img src="./static/images/hidecheek_logo.png">
			<h1 class="editorial"> Design Lab</h1>
			<h2 class="editorial"> Create your own custom yoga pants </h2>
			<a href="/step1" class="btn-editorial"> GET STARTED </a>
		</div>
	
<!-- </div>	 -->

<footer>
	<span class="copy nav navbar-nav navbar-left"> &copy 2015 hide &amp cheek  | <a id="georgia" href="https://github.com/gstargface"> Built by Georgia</a>  |  All Rights Reserved</span>
	<ul class="social nav navbar-nav navbar-right">
      <li class="social"><a href="https://www.facebook.com/hideandcheek"><img src="./static/social_01.png"></a></li>
      <li class="social"><a href="https://instagram.com/hideandcheek/"><img src="./static/social_04.png"></a></li>
      <li class="social"><a href="https://twitter.com/hideandcheek"><img src="./static/social_02.png"></a></li>
    </ul>

</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66562241-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
