<!DOCTYPE html> 
<html>

<head>
	<link rel="stylesheet"
		href="/static/landing_page.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<title>design lab|hide&cheek</title>
</head>
<body>

<div class="site-wrapper">
	<div class="site_wrapper-inner">

		<img src="./static/transparent-logo.png">

		<h2>presents:</h2> <h1>My Cheekies Design Lab</h1>

		<a href="/step1" class="btn btn-lg btn-primary"> Get Started!</a>
	</div>
</div>	

<footer>
	<p>&copy 2015 hide &amp cheek All Rights Reserved</p> 

</footer>
</body>
</html>
