{% extends 'lab_base.html' %}

{% block body %}
<div class="page-header">
	<h1>my design</h1>
</div>
  


<div class="row">
	<div class="col-xs-6 col-md-5 col-md-offset-1 design">
		<object class="design" id="design-object" data="/static/svg/{{session['current_design']['style_svg']}}?no-cache={{time()}}" alt="current design model"></object>
		
	</div>
	<div class="col-xs-6 col-md-4">
		<div class="well">
		<ul class="list-group">
			<li id="style" class="list-group-item"> <b>STYLE: </b>  </li>
			<li id= "size" class="list-group-item"> <b>SIZE:</b> </li>
			<li id ="waist" class="list-group-item"> <b>WAIST:</b> </li>
			<li id ="fabric" class="list-group-item"> <b>FABRIC:</b> </li>
			<li id ="color" class="list-group-item"> <b>COLOR:</b> </li>
			<li id ="placement" class="list-group-item"> <b>PLACEMENT:</b> </li>
			<li id ="stitch" class="list-group-item"> <b>STITCHING STYLE:</b> </li>
			<li id ="text" class="list-group-item"> <b>TEXT:</b> </li>
		</ul>
		<div id="added">
			
				<button class="add btn-editorial" id="add"> add to cart!</button>
		</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script>
$(document).ready( function(){
    console.log("ready!");
    ////////GET DATA FROM SERVER////////
	// loads selections via JSON
	$.get('/current-design.json', function (current_design) {
		console.log(current_design);
		$(window).load(function (){
			var obj = document.getElementById("design-object");
			var objData = obj.contentDocument;
			// makes the image smaller
			var doll = objData.getElementById("doll");
			doll.setAttribute('width','400px');
			doll.setAttribute('height','450px');
			// edits the waist height
			var highWaist = objData.getElementById("highWaist");
			console.log(highWaist);
			var lowWaist = objData.getElementById("lowWaist");
			console.log(current_design.waist_id);
			if(current_design.waist_id == 1){
				highWaist.setAttribute('visibility', 'hidden');
				lowWaist.setAttribute('visibility', 'visible');
			} else {
				highWaist.setAttribute('visibility', 'visible');
				lowWaist.setAttribute('visibility', 'hidden');
			};
			// edits the pant color
			highWaist.setAttribute('fill', current_design.color_hex);
			lowWaist.setAttribute('fill', current_design.color_hex);
		});
	});
    $.get('/selections.json', function (data) {

		$('#style').append(data.selections.style);
		$('#size').append(data.selections.size);
		$('#waist').append(data.selections.waist);
		$('#fabric').append(data.selections.fabric);
		$('#color').append(data.selections.color);
		$('#placement').append(data.selections.placement);
		$('#stitch').append(data.selections.stitch);
		$('#text').append(data.selections.text);

		var suggestions = data.selections.suggestions;
		console.log(suggestions);
		if( suggestions != null){
			$('#size').append(' + suggestions: ' + suggestions);
		};

	});
	$('.tabs').hide();
});

$(".add").click( function(evt){
	console.log(evt);
	
	$.ajax({
	    type: "GET",
	    url: "/added",
	    success: function(resp) {
	    	console.log(resp.status);
		      //display message back to user here
		    $('#added').html("<div id='flash'></div>");
		    $('#flash').html("<h4> Sweet! Your design has been added to the cart.</h4>").append("<a href='http://www.hide-cheek.com' class='btn-editorial'>CHECK OUT</a><br><h5>or</h5><a class='btn-modal' href='/newDesign'> create new design </a>").hide().fadeIn(1500, function() {
		  		});
	    }
	});
});


</script>

{% endblock %}