{% extends 'lab_base.html' %}

{% block body %}

<div class="doll-area">
	<object class="doll" id="design-object" svg="{{session['current_design']['style_svg']}}" data="/static/svg/{{session['current_design']['style_svg']}}?no-cache={{time()}}" alt="current design model"></object> 
	<div class="toolTip-area"></div>
</div>

<form action='/myDesignLab' id="color-form" method="post">
	<div class="row form-group">
		<div class="col-md-3 well">
			<p class="section">Colors</p>
			<ul class="colors list-group">
			{% for color in colors %}
				<li class="list-group-item">
					<input type="radio" name="color" id="{{color.color_id}}" class="color-button" hex="{{color.color_hex}}" value="{{color.color_id}}"> {{color.color_name}}
					<img id="{{color.color_thumbnail}}" src="./static/{{color.color_thumbnail}}"/>
				</li>
			{% endfor %} 
			</ul>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-md-3 well">
			<p class="section">Embroidery</p>
			<div id="tag-field">
				<label>Custom Tag: <i>max 50 chars.</i></label>
					<br>
				<textarea rows="3" cols="25" name="embroidery" id="embroidery-text" placeholder="Add a personal message!"></textarea>
			</div>
			<br>
			<label for="field-embroidery">Placement:</label><br>
				<ul class="list-group">
				{% for e in embroidery %}
					<li class="list-group-item"><input type="radio" name="emb-place" value="{{e.embroidery_location}}"> {{e.embroidery_location}}</li>
				{% endfor %}
				</ul>
			
			<img name="waist-band"><br>
			<label for="field-stitch">Font:</label>
			<ul class="list-group fonts">
				{% for s in stitch %}
					<li class="list-group-item"><input type="radio" name="stitch" value="{{s.stitching_style}}"> {{s.stitching_style}}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-1 col-md-offset-7"> 
			<input type="hidden" name="hex" id="color-hex">
			<input type="submit" class="btn-editorial" href="/myDesignLab" value ="All done!">
		</div>
	</div>
</form>


<script src="https://code.jquery.com/jquery.js"></script>

<script> // Javascript and JQuery!!!! 

///////DEFINE VARIABLES/////
var hex;
var obj;
var objData;


///////DEFINE FUNCTIONS////////
var fillSvg = function(hex) {
	obj = document.getElementById("design-object");
	objData = obj.contentDocument;
	console.log(objData);	
	var highWaist = objData.getElementById("highWaist");
	console.log(highWaist);
	var lowWaist = objData.getElementById("lowWaist");
	highWaist.setAttribute('fill', hex);
	lowWaist.setAttribute('fill', hex);
	$('#color-hex').attr('value', hex);
};



$(document).ready( function(){
    ////////GET DATA FROM SERVER////////
	// loads the previous selections via JSON
	// setUpPage();
    $.get('/current-design.json', function (current_design) {
		console.log(current_design);
		$(window).load(function (){
			var obj = document.getElementById("design-object");
			var objData = obj.contentDocument;
			var highWaist = objData.getElementById("highWaist");
			console.log(highWaist);
			var lowWaist = objData.getElementById("lowWaist");
			console.log(current_design.waist_id);

			if(current_design.waist_id == 1){
				highWaist.setAttribute('visibility', 'hidden');
				lowWaist.setAttribute('visibility', 'visible');
			} else {
				highWaist.setAttribute('visibility', 'visible');
				lowWaist.setAttribute('visibility', 'hidden');
			};
		});
	});
	$('#fabrics-tab').removeClass('selected');
	$('#colors-tab').addClass('selected');
});

///////////////EVENT HANDLERS///////////////

    


///////EVENT HANDLERS////////

// var setUpPage = function(){

	var colorButtons = $('.color-button');

	// changes the color of the pants on click 
	$(colorButtons).each( function(){
		$(this).on('click', function(evt) {
			$('.colors').removeClass('nope');
			console.log(evt);
			hex = $(this).attr('hex');
			console.log(hex);
			fillSvg(hex);
		});
	});

	// checks limit on characters allowed in embroidery textarea
		$('#embroidery-text').on('blur', function(evt) {
			var textCount = $('#embroidery-text').val().length;
			if(textCount > 50){
				$('#embroidery-text').addClass('nope');
			} else{
				$('#embroidery-text').removeClass('nope');
			};

		});

	// form validation
		$('#color-form').on('submit', function(evt){

		var textCount = $('#embroidery-text').val().length;
		if(textCount > 50){
			evt.preventDefault();
			$('#embroidery-text').addClass('nope');
		};
		var colorSelected = $("input[name='color']:checked").length;
		if(colorSelected == 0) {
		   evt.preventDefault();
		   $('.colors').addClass('nope');
		};
		if ($("input[name='emb-place']:checked").length != 0){
			var fontSelected = $("input[name='stitch']:checked").length;
			if(fontSelected == 0) {
			   evt.preventDefault();
			   $('.fonts').addClass('nope');
			};
		};	
	});

// };




</script>

{% endblock %}