{% extends 'lab_base.html' %}

{% block body %}
<h2>Style Lab</h2>
<h4>Step 3: Colors</h4>

<div class="doll-area">
	<img class="doll" id="design-img" svg="{session['current_design']['style_svg']}}" src="/static/svg/{{session['current_design']['style_svg']}}" alt="current design model"></img> 
	<div class="toolTip-area"></div>
</div>


<form action='/myDesignLab' id="color-form" method="post">
	<div>
		<label for="field-colors"> Colors:</label>
	</div>
	{% for color in colors %}
	<div id="{{color.color_id}}">

		<input type="radio" name="color" class="color-button" hex="{{color.color_rgb}}" value="{{color.color_id}}">
		<label>{{color.color_name}}</label>
		<img id="{{color.color_thumbnail}}" src="./static/{{color.color_thumbnail}}"/>
	</div>
	{% endfor %} 


	<div>
		<label for="field-embroidery">Custom Embroidery:</label>
		<br>
		<input type="radio" name="emb-place" value="inside waist band"> Inside Waistband (front left)<br>
		<input type="radio" name="emb-place" value="outside waist band"> Outside Waistband (back center)<br>
		<label>Embroidery Text <i>max 50 chars.</i></label>
		<br>
		<textarea rows="4" cols="20" name="embroidery" id="embroidery-text" placeholder="Add a personal message!"></textarea>
		<img name="waist-band">
	</div>
	<div> 
		<input type="submit" href="/myDesignLab" value ="All done!">
	</div>
</form>


<script src="https://code.jquery.com/jquery.js"></script>

<script> // Javascript and JQuery!!!! 

///////DEFINE VARIABLES/////


///////DEFINE FUNCTIONS////////
var fillSvg = function () {
	var svg = $('#design-img').find('svg');
	console.log(svg);
	svg.attr('.....fill', 'the hex code for the color that was selected' )
};

$(document).ready( function(){
    console.log("ready!");


	});


///////EVENT HANDLERS////////



// checks limit on characters allowed in embroidery textarea
	$('#embroidery-text').on('blur', function(evt) {
		var textCount = $('#embroidery-text').val().length;
		if(textCount > 50){
			alert('Embroidery text must be 50 characters or less');
		}

	});

// form validation
	$('#color-form').on('submit', function(evt){

	var textCount = $('#embroidery-text').val().length;
	if(textCount > 50){
		evt.preventDefault();
		alert('Embroidery text must be 50 characters or less');
	};
	var colorSelected = $("input[name='color']:checked").length;
	if(colorSelected == 0) {
	   evt.preventDefault();
	   alert("Please select a color!");
	}
});

});




</script>

{% endblock %}