{% extends 'lab_base.html' %}

{% block body %}

<!-- Style Guide Modal -->
<div class="modal fade" id="styleGuide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Style Guide</h4>
      </div>
      	<div class="modal-body">
      		<p>No content yet. But drunk yoga seems like fun...</p>
      		<img src="http://media.giphy.com/media/W7o9UzkwWpA0o/giphy.gif"/></div>
  	</div>
</div>
</div>

<!-- Size Guide Modal -->
<div class="modal fade" id="sizeGuide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Custom Sizing</h4>
      </div>
      	<div class="modal-body">
      		<div id="suggestions-form">
	      		<form class="form-group" name="suggestions" action=''>
		      		<p> Tell us about your body shape and measurements and we'll make sure your pants fit just right. </p>
		      		<textarea rows="5" cols="90" name="size-suggestions" id="size-suggestions" placeholder="Sizing suggestions...."></textarea>
		      		<label class="error" for="size-suggestions" id="suggestions_error">Add your suggestions before submitting!</label>
		      		<br>
		      		<input type="submit" name="submit" class="btn-editorial" id="submit-suggestions" value="Save my suggestions">
	      		</form>
      		</div>
      		<br>
      		<h4 class="modal-title" id="myModalLabel">Our Size Guide</h4>
      		<table class="table table-striped" style="width:100%; height: 200px; float:left; padding:10px 10px;">
	            <thead>
	                    <th class="title">
	                    	<td>Relative Sizes</td>
	                    	<td>Waist</td>
	                    	<td>Hips</td>
	                    </th>
	            </thead>
	            <tbody>
	            	{%for size in sizes%}
	                	<tr><td style="font-style:italic;">{{size.size}}</td><td>{{size.size_description[0:3]}}</td><td>{{size.size_description[5:10]}}</td><td>{{size.size_description[12:15]}}</td></tr>
	                {%endfor%}
	            </tbody>
        	</table>
        	
      		<div class="modal-footer">
        		<button type="button" class="btn-modal" data-dismiss="modal">Close</button>
      		</div>
      	</div>
  	</div>
</div>
</div>
<!-- Main content starts here -->
<!-- Form starts here -->
<form action='/step2' method="post" id="step1-form">	
	<div class="row build">
		<div class="col-xs-6 col-md-3 col-md-offset-1 panel-group" id="accordion"role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="section"> Style 
						</a> 
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body size-panel"> 
						<ul class="list-group styles">
							{% for style in styles %}
							<li class="list-group-item"><label class="btn pretty"> <input type="radio" name="style" class="style-button" value="{{style.style_id}}" data-validate="required"> {{style.style_name}} </label> </li>
							{% endfor %}
						</ul>
						<div class="style-error"></div>
						<!-- Button to launch style guide modal window -->
						<button class="btn-modal" type="button" data-toggle="modal" data-target="#styleGuide" id="style-guide"> Style Guide </button> 
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<a class="collapsed section" role="button" data-toggle="collapse" data-parent="#accordion"
						href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Size 
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">
						<select class="size"name="size"> 	
							{% for size in sizes %}
							<option class="size" value="{{size.size_code}}">{{size.size}}</option>
							{% endfor %}
						</select>	
						<br>
						<div id="suggestion-div">
						</div>
						<br>
						<!-- Button to launch sizing help window -->
						<button class="btn-modal" type="button" data-toggle="modal" data-target="#sizeGuide" id="size-guide"> Custom Sizing</button>
						
					</div>
				</div>	
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingThree">
					<h4 class="panel-title">
						<a class="collapsed section" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Waist Height
						</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body" id="slider">
						<p class="label">High-Waist</p>
						<input class="bar" name="waist" id="waist" orient="vertical" type="range" min="1" max="2" step="1" value="{{session['current_design']['waist_id']}}">
						<p class="label">Low-waist</p>
					</div>
				</div>
			</div>
		</div>
	
		<!-- this is the base image -->
		<div class=" col-xs-6 col-md-5 col-md-offset-1" id="design-div">
			<object class="doll" id="design-object" data="/static/svg/{{session['current_design']['style_svg']}}?no-cache={{time()}}" alt="blank model"></object> 
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-2 col-md-offset-8">
			<div class="submit">
				<input class="btn-editorial" type="submit" href="/step2" value ="Next step please!">
				<input type="hidden" name="style-svg" id="style-svg">
			</div>
		</div>
	</div>
</form>


<!-- Javascript and JQuery!!!! -->

<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/Step1.js"></script>

<!--<script> 

// ////////DEFINE VARIABLES/////
// var index;
// var style_data;
// var svg_path;


// ///////DEFINE FUNCTIONS////////

// function submitSuggestions(evt) {
// 	evt.preventDefault();
// 	var suggestions = $("#size-suggestions").val();
// 	if (suggestions == "") { 
// 		$("label#suggestions_error").show();
//     	$("input#size-suggestions").focus();
//     } else {
//     	var suggestionInputs = {'suggestions': suggestions};
//     	$.post('/suggestions', suggestionInputs, function() {
// 			$('#suggestions-form').html("<div id='message'></div>");
// 	        $('#message').html("<p>Suggestions submitted</p>").hide().fadeIn(1500, function() {
// 	        	$('#suggestion-div').html('<p class="label"> My Suggestions: </p> <p id="submitted-suggestions"></p>');
// 	        	$('#submitted-suggestions').html(suggestions); 
//     		});
//     	});
// 	};
// };

// function clickStyleHandler(evt){
// 	index++;
// 	if (index === style_data.length) {
// 		index = 0;
// 	}
// 	change_svg(style_data, index);
// 	change_radio(style_data, index);
// 	$('input[name=waist').val('2');
// }

// function loadStyleHandler(evt){

// 	var obj = document.getElementById("design-object");
// 	var objData = obj.contentDocument;
// 	var el = objData.getElementById("doll");
// 	el.addEventListener("click", clickStyleHandler);
// }

// function change_svg (style_data, index) {
// 	svg_path = style_data[index].style_svg;
// 	$('#style-svg').attr('value', svg_path);
// 	$('.styles').removeClass('nope');
// 	$('.form-error').remove();
// 	$('#design-object').remove();
// 	var newObject = document.createElement('object');
// 	newObject.setAttribute('data', '/static/svg/'+svg_path);
// 	newObject.id = 'design-object';
// 	newObject.className = 'doll';
// 	newObject.addEventListener('load', loadStyleHandler);
// 	$('#design-div').append(newObject);
// };

// function change_radio (style_data, index){
// 	id = style_data[index].style_id;
// 	selector_str = '.style-button[value="'+id+'"]';
// 	$(selector_str).prop("checked", true);
// };


// function change_waist (){

// 		var waist = $('#waist').val();
// 		debugger;
// 		var obj = document.getElementById("design-object");
// 		var objData = obj.contentDocument;
// 		var highWaist = objData.getElementById("highWaist");
// 		console.log(highWaist);
// 		var lowWaist = objData.getElementById("lowWaist");
// 		console.log(lowWaist);

// 		if (waist == 1) {
// 			highWaist.setAttribute('visibility', 'hidden');
// 			lowWaist.setAttribute('visibility', 'visible');
// 		} else {
// 			highWaist.setAttribute('visibility', 'visible');
// 			lowWaist.setAttribute('visibility', 'hidden');
// 		};

// };
		
// ///////EVENT HANDLERS////////


// ///// submit custom sizing suggestions
// $("#submit-suggestions").click( submitSuggestions);		

// // // initial load of event handler: click the image to change the style 
// var obj = document.getElementById("design-object");
// obj.addEventListener('load', loadStyleHandler);

// function setUpPage (){
// 	console.log("Page is set up now!");

// 	var styleButtons = $('.style-button'); 

// 	// click the button to change the style
// 	$(styleButtons).each( function(idx) {
// 		$(this).on('click', function(evt) {
// 			index = $(this).val() - 1;
// 			$("input[name='waist']").val('2');
// 			change_svg(style_data, index);
// 		});	
// 	});
			 
// 	// change the slider bar to select waist style
// 	$('#waist').click( function(evt){
// 		console.log(evt);
// 		change_waist();
// 	});

// 	// Form validation 
// 	$('#step1-form').on('submit', function(evt){
// 		var styleSelected = $("input[name='style']:checked").length;
// 		if(styleSelected == 0) {
// 		   //Is not Valid
// 		   evt.preventDefault();
// 		   $('.styles').addClass('nope');
// 		   $('.style-error').append("<p class='form-error'>please select a style!</p>");

// 		}
// 	});
		
// };



// ///////////////LOADS THE PAGE///////////////
// $(document).ready(function(){
//     ////////GET DATA FROM SERVER////////
// 	$.get('/styles.json', function(data){
// 				style_data = data.styles;
// 				index = -1;
// 				setUpPage();
// 	});
// 	 $.get('/current-design.json', function (current_design) {
// 		console.log(current_design);
// 		$(window).load(function (){
			
// 			/////this makes sure that the current design from the session renders when the user hits the back button
// 			if (current_design.style_id != null && current_design.style_svg != "naked.svg"){
// 				$('#design-object').attr('data', '/static/svg/'+ current_design.style_svg);

// 				var waist = $('#waist').val();
// 				if (waist != 2){
// 					change_waist();
// 				};
// 			};
// 		});
// 		// selects step 1:styles in the top process bar
// 		$('#styles-tab').addClass('selected');
// 		$('.error').hide();
	
// 	});
// });


// </script>-->


{% endblock %}
