{% extends 'lab_base.html' %}

{% block body %}



<div class="doll-area">
	<object class="doll" id="design-object" data="/static/svg/{{session['current_design']['style_svg']}}?no-cache={{time()}}" alt="current design model"></object> 
</div>

<!-- modal window content doest work!-->
<div class="modal fade" id="fabInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      	<div class="modal-body">
      		<p>Some more information about our ahhhh-mazing fabrics!</p>
      		<img src="http://38.media.tumblr.com/60d1ffa2d858c6bf69e1f3982169be50/tumblr_nndo2qTxB61uq175to3_500.gif"/>
      	</div>
  	</div>
</div>
</div>

<form action='/step3' id="fabric-form" method="post">
	<div class="row">
		<div class="well col-md-3">
			<label for="field-fabrics"> Fabrics:</label>
			<ul class="list-group">
				{% for fabric in fabrics %}
				<li class="list-group-item" id="{{fabric.fabric_id}}">
					<input type="radio" name="fabric" class="fabric-button" data-extra-text="{{fabric.fabric_description}}"value="{{fabric.fabric_id}}"> {{fabric.fabric_name}}
				</li>
				{% endfor %} 
			</ul>
			<div id="fabric-details"></div>
			
			<!-- button to launch fabrics modal window -->
			<!-- <button class="btn-modal" type="button" data-toggle="modal" data-target="#fabInfo" id="fab-info"> The Fabric of Hide&ampCheek</button> -->
		</div>

	</div>
	<div class="row">
		<div class="col-md-3">
		<input type="submit" class ="btn-editorial" href="/step3" value="Next step please!"/>
	</div>
	</div>
</form>



<script src="https://code.jquery.com/jquery.js"></script>

<script> // Javascript and JQuery!!!! 
//Might move this to another doc later. 



$(document).ready( function(){
    console.log("ready!");
    ////////GET DATA FROM SERVER////////
	// loads the previous selections via JSON
    $.get('/current-design.json', function (current_design) {
		console.log(current_design);

		$(window).load(function (){
			var obj = document.getElementById("design-object");
			var objData = obj.contentDocument;
			var highWaist = objData.getElementById("highWaist");
			console.log(highWaist);
			var lowWaist = objData.getElementById("lowWaist");
			console.log(current_design.waist_id);

			if(current_design.waist_id == 0){
				highWaist.setAttribute('visibility', 'hidden');
				lowWaist.setAttribute('visibility', 'visible');
			} else {
				highWaist.setAttribute('visibility', 'visible');
				lowWaist.setAttribute('visibility', 'hidden');
			};
		});
	});
	console.log("ready!");
	$('#styles-tab').removeClass('selected');
	$('#fabrics-tab').addClass('selected');

});
///////////////EVENT HANDLERS///////////////

// shows the fabric description when selected
$('.fabric-button').on('change', function (evt){
	$('#description').remove();

	var descriptionText = $(this).data('extra-text');
	$('#fabric-details').append('<p id="description" >' + descriptionText + '<p/>');
});

//validates the form 
$('#fabric-form').on('submit', function(evt){
	console.log("inside fabric-form js");
	console.log(evt);
	var fabricSelected = $("input[name='fabric']:checked").length;
	console.log(fabricSelected);
	if(fabricSelected == 0) {
	   //Is not Valid
	   evt.preventDefault();
	   alert("Please select your fabric!");
	   console.log(evt);
	}
});


</script>

{% endblock %}