{% extends 'lab_base.html' %}

{% block body %}
<div class="page-header">
<h1>Design Lab </h1> 
</div>



<!-- Style Guide Modal -->
<div class="modal fade" id="styleGuide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Style Guide</h4>
      </div>
      	<div class="modal-body">
      		<p>No content yet. But drunk yoga is fun...</p>
      		<img src="http://media.giphy.com/media/W7o9UzkwWpA0o/giphy.gif"/></div>
  	</div>
</div>
</div>

<!-- Size Guide Modal -->
<div class="modal fade" id="sizeGuide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sizing Help</h4>
      </div>
      	<div class="modal-body">
      		<p>Need more sizing info...</p>
      		<img src="http://38.media.tumblr.com/2d3ee38e0f15b78187de8e51d64b495c/tumblr_n96tacfsi51ru5h8co1_500.gif"/>
      	</div>
  	</div>
</div>
</div>


<!-- Main content starts here -->
<div class="doll-area">
	<!-- this is the base image -->
	<img class="doll" id="blank" src="./static/green.png"/> 
	<!-- these are the layers -->
	{% for style in styles %}
	<img class="doll" data-toggle="tooltip" data-placement="top" title="Click anywhere on the pants to adjust the length" id="{{style.style_id}}" src="./static/{{style.img_layer}}"/>
	{% endfor %}
	<div class="toolTip-area"></div>
</div>

<!-- Form starts here -->
<form action='/step2' method="post" id="step1-form">
<div class="row">
	<div class="well col-md-4">
		<label for="field-style">Fit: </label>
		{% for style in styles %}
		<input type="radio" name="style" class="style-button" value="{{style.style_id}}"> {{style.style_name}}
		{% endfor %}
		<br>
		<!-- Button to launch stlye guide modal window -->
		<button type="button" data-toggle="modal" data-target="#styleGuide" id="style-guide" > Style Guide </button> 
		
		<br>
	</div>
</div>
<div class="row">

	<div class="well col-md-4">
		<label for="field-size">Sizing: </label>
		<select name="size"> 	
			{% for size in sizes %}
		<option value="{{size.size_code}}">{{size.size}}</option>
		{% endfor %}
		</select>
		<br>
		<!-- Button to launch sizing help window -->
		<button type="button" data-toggle="modal" data-target="#sizeGuide" id="size-guide"> idk what my size is! </button>
	</div>
</div>

	<!-- slider to define waist height -->
	<!-- FIXME got to make the values associate with the waist options-->
	<div class="row">

	<div class="col-md-4 well" id="slider">
		<label>Waist height:</label>
		<br>
		<input class="bar" name="waist" type="range" min="0" max="2" step="1" value="0">
	</div>
</div>

	
	<!-- Sumbit button and hidden fields -->
	<div>
		<input type="hidden" name = "cut-css" id="cut-css" value="cut1">
		<input type="hidden" name="img-layer" id="img-layer">
		<input type="submit" href="/step2" value ="Next step please!">
	</div>
</form>


<!-- Javascript and JQuery!!!! 
Might move this to another doc later. -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.js"></script>
<script> 

$(document).ready(function(){
    console.log("ready!");



var styleButtons = $('.style-button'); 


for(var i=0; i<styleButtons.length; i++){
	styleButtons[i].onchange = function(evt) {
		// alert("Style change! Woot woot!");

		var oldId = $('#selected').attr('oldId');
		$('#selected').attr('id', oldId);



		var styleID = $(this).val(); //also could be $(evt.currentTarget).val()
		var styleSelect = $('#' + styleID);
		var imgLayer = styleSelect.attr('src')
		$('#img-layer').attr('value', imgLayer);

		styleSelect.attr('oldId', styleID);
		styleSelect.attr('id', 'selected'); //changes id attribute  to the correct url from the db 
		console.log(styleSelect);


		cutArray = ['cut1', 'cut2', 'cut3']; 
		//array of classes with different clip dimensions according the cut
		currentIndex = 1;

		$('#selected').click( function (evt) {
			for (var i=0; i<cutArray.length; i++) {

				if($(this).hasClass(cutArray[i])) {
					$(this).removeClass(cutArray[i]);
				};
			};

			$(this).addClass(cutArray[currentIndex]);
			$('#cut-css').attr('value', cutArray[currentIndex]);


			if (currentIndex === 2) {
				currentIndex=0;
			} else {
				currentIndex++ // FIXME replace this if statement with a % 3  
			};
		});
	};
};
// Form validation 
$('#step1-form').on('submit', function(evt){
	var styleSelected = $("input[name='style']:checked").length;
	console.log(styleSelected);
	if(styleSelected == 0) {
	   //Is not Valid
	   evt.preventDefault();
	   alert("Please select a style!");
	   console.log(evt);
	}
});

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});




});






</script>

{% endblock %}
