{% extends 'lab_base.html' %}

{% block body %}


<form action='/myDesignLab' id="color-form" method="post">
	<div class="row build">
		<div class="col-xs-6 col-md-3 col-md-offset-1 panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a class="section" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Colors
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						<ul class="colors list-group">
							{% for color in colors %}
							<li class="list-group-item">
								<label class="btn pretty"><input type="radio" name="color" id="{{color.color_id}}" class="color-button" hex="{{color.color_hex}}" value="{{color.color_id}}"> {{color.color_name}}
								<img id="{{color.color_thumbnail}}" src="./static/images/{{color.color_thumbnail}}"/></label>
							</li>
							{% endfor %} 
						</ul>
						<div class="color-error"></div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<a class="collapsed section" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Personalization</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">
						<div id="tag-field">
							<label>Custom Tag : <i>max 50 chars.</i></label>
							<br>
							<textarea rows="3" cols="25" name="embroidery" id="embroidery-text" placeholder="Add a personal message!"></textarea>
							<div class="text-error"></div>
						</div>
						<br>
						<label for="field-embroidery">Placement:</label><br>
							<ul class="list-group place">
							{% for e in embroidery %}
								<li class="list-group-item">
									<label class="btn pretty"><input class="emb-place"type="radio" name="emb-place" value="{{e.embroidery_location}}"> {{e.embroidery_location}}</label>
								</li>
							{% endfor %}
							</ul>
							<div class="place-error"></div>
						<label for="field-stitch">Font:</label>
						<ul class="list-group fonts">
							{% for s in stitch %}
								<li class="list-group-item">
									<label class="btn pretty"><input class="stitch" type="radio" name="stitch" value="{{s.stitching_style}}"> {{s.stitching_style}}<br>
									<img class="font" id="{{s.stitching_id}}" src="./static/images/{{s.thumbnail}}"/></label>
								</li>
							{% endfor %}
						</ul>
						<div class="font-error"></div>

						<label for="field-thread">Thread Color:</label>
						<ul class="list-group threads">
							{% for t in thread %}
								<li class="list-group-item">
									<label class="btn pretty thread" style="color:{{t.thread_hex}}"><input class="threads" type="radio" name="thread" value="{{t.thread_color}}"> {{t.thread_color}}
									</label>
								</li>
							{% endfor %}
						</ul>
						<div class="thread-error"></div>

					</div>
				</div>
			</div>

		</div>



		<div class="col-xs-6 col-md-4 col-md-offset-1">
		<object class="doll" id="design-object" svg="{{session['current_design']['style_svg']}}" data="/static/svg/{{session['current_design']['style_svg']}}?no-cache={{time()}}" alt="current design model"></object> 
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<a class="btn-modal" href="javascript:history.back()"> &lt; Step 2 </a>
		</div>
		<div class="col-xs-12 col-md-2 col-md-offset-6"> 
			<input type="hidden" name="hex" id="color-hex">
			<div class="submit">
				<input type="submit" class="btn-editorial" href="/myDesignLab" value ="View final design">
			</div>
		</div>
	</div>
</form>


<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/step3.js"></script>

<!-- <script> // Javascript and JQuery!!!! 

///////DEFINE VARIABLES/////
var hex;
var obj;
var objData;


///////DEFINE FUNCTIONS////////
function fillSvg(hex){
	obj = document.getElementById("design-object");
	objData = obj.contentDocument;
	console.log(objData);	
	var highWaist = objData.getElementById("highWaist");
	console.log(highWaist);
	var lowWaist = objData.getElementById("lowWaist");
	highWaist.setAttribute('fill', hex);
	lowWaist.setAttribute('fill', hex);
	$('#color-hex').attr('value', hex);
};


$(document).ready( function(){
    ////////GET DATA FROM SERVER////////
	// loads the previous selections via JSON
    $.get('/current-design.json', function (current_design) {
		console.log(current_design);
		$(window).load(function (){
			var obj = document.getElementById("design-object");
			var objData = obj.contentDocument;
			var highWaist = objData.getElementById("highWaist");
			console.log(highWaist);
			var lowWaist = objData.getElementById("lowWaist");
			console.log(current_design.waist_id);

			if(current_design.waist_id == 1){
				highWaist.setAttribute('visibility', 'hidden');
				lowWaist.setAttribute('visibility', 'visible');
			} else {
				highWaist.setAttribute('visibility', 'visible');
				lowWaist.setAttribute('visibility', 'hidden');
			};

			console.log(current_design.color_hex);
			if (current_design.color_id != null && current_design.color_hex != null){
				fillSvg(current_design.color_hex);
			};

		});
	});
	
	$('#fabrics-tab').removeClass('selected');
	$('#colors-tab').addClass('selected');

});

///////////////EVENT HANDLERS///////////////

var colorButtons = $('.color-button');

// changes the color of the pants on click 
$(colorButtons).each( function(){
	$(this).on('click', function(evt) {
		$('.colors').removeClass('nope');
		console.log(evt);
		hex = $(this).attr('hex');
		console.log(hex);
		fillSvg(hex);
	});
});

// checks limit on characters allowed in embroidery textarea
$('#embroidery-text').on('blur', function(evt) {
	var textCount = $('#embroidery-text').val().length;
	if(textCount > 50){
		$('#embroidery-text').addClass('nope');
	} else{
		$('#embroidery-text').removeClass('nope');
	};

});

// form validation
$('#color-form').on('submit', function(evt){

	var textCount = $('#embroidery-text').val().length;
	if(textCount > 50){
		evt.preventDefault();
		$('#embroidery-text').addClass('nope');
	};

	var colorSelected = $("input[name='color']:checked").length;
	if(colorSelected == 0) {
	   evt.preventDefault();
	   $('.colors').addClass('nope');
	};
// FIX ME 
	if ($("input[name='emb-place']:checked").length != 0){
		evt.preventDefault();
		var fontSelected = $("input[name='stitch']:checked").length;
		if(fontSelected == 0) {
		   evt.preventDefault();
		   $('.fonts').addClass('nope');
		};
		var threadSelected = $("input[name='thread']:checked").length;
		if(threadSelected == 0) {
		   evt.preventDefault();
		   $('.threads').addClass('nope');
		};
	};	
});





</script>-->

{% endblock %} 