{% extends 'lab_base.html' %}

{% block body %}
<div class="jumbotron">
<h2>Design Lab</h2>
<p>Step 2: Fabrics</p>
</div>

<div class="doll-area">
	<img class="doll" id="style-img" src="{{session['current_design']['style_svg']}}" alt="current design model"></img> 
	<div class="toolTip-area"></div>
</div>


<form action='/step3' id="fabric-form" method="post">
	<div>
		<label for="field-fabrics"> Fabrics:</label>
	</div>
	{% for fabric in fabrics %}
	<div id="{{fabric.fabric_id}}">
		<input type="radio" name="fabric" class="fabric-button" data-extra-text="{{fabric.fabric_description}}"value="{{fabric.fabric_id}}">{{fabric.fabric_name}}
	</div>
	{% endfor %} 
	<div id="fabric-details">
	</div>
	<div> 
		<input type="submit" href="/step3" value ="Next step please!">
	</div>
</form>


<script src="https://code.jquery.com/jquery.js"></script>

<script> // Javascript and JQuery!!!! 
//Might move this to another doc later. 

$(document).ready( function(){
    console.log("ready!");
// loads the previous selections via JSON
    $.get('/current-design.json', function (current_design) {
	console.log(current_design);



		// var selected = $('#selected')

		// selected.addClass(current_design.style_id);
		// selected.attr('src', current_design.img_layer); 

		// selected.addClass(current_design.cut_css);
	});

});

// shows the fabric description when selected
$('.fabric-button').on('change', function (evt){
	$('#description').remove();

	var descriptionText = $(this).data('extra-text');
	$('#fabric-details').append('<p id="description" >' + descriptionText + '<p/>');
});

//validates the form 
$('#fabric-form').on('submit', function(evt){
	var fabricSelected = $("input[name='fabric']:checked").length;
	console.log(fabricSelected);
	if(fabricSelected == 0) {
	   //Is not Valid
	   evt.preventDefault();
	   alert("Please select your fabric!");
	   console.log(evt);
	}
});


</script>

{% endblock %}